<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <h3>
         <a href = "{{ url_for('meters.all_meters') }}">Meters</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <table>
         <thead>
            <tr>
               <th>id</th>
               <th>label</th>
            </tr>
         </thead>

         <tbody>
            {% for meter in meters %}
               <tr>
                  <td align="center">{{ meter.id }}</td>
                  <td align="center">
                     <a
                        href = "{{ url_for('meters.meter_data', meter_id=meter.id) }}">{{ meter.label }}
                     </a>
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>
